
<div class="row">
    <div class="col-md-3">
        <div class="user-profile">
            <div *ngIf = "profile">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="{{profile.avatar_url}}"  class="Profile_picture rounded-circle" alt="img1"  height="250px" width="250px">
                    </div>
                </div>
        
            </div>
            <div>
                <h4>Name: {{profile.name}} </h4> ({{profile.login}})
                <h2> <span *ngIf="profile.company">Company: {{profile.company}}</span></h2>
                <h4>Location: {{profile.location}} </h4>
                <p><a href="{{profile.html_url}}" target="_blank"><button  class="btn btn-primary"> View Profile on GitHub</button> </a></p>
            </div>
            <p>Bio: {{profile.bio}}</p>

            <div class="list">
                <ul>
                  
                  <li class="list-group-item list-group-item-success" *ngIf="profile.hireable">Available for hire: {{profile.hireable}}</li>
                  <li class="list-group-item list-group-item-success" *ngIf="profile.twitter_username" >Twitter🔵 : <a href="{{profile.twitter_username}}">{{profile.twitter_username}}</a></li>
                  <li class="list-group-item list-group-item-success" *ngIf="profile.blog" ><a href="{{profile.blog}}">{{profile.blog}}</a></li>
                  <li class="list-group-item list-group-item-success" *ngIf="profile.email"><a href="{{profile.email}}">{{profile.email}}</a></li>
                </ul>
            </div>
        </div>
        

    </div>
    <div class="col-md-9">
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Followers: {{ profile.followers }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Following: {{ profile.following }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true">Public-gists:  {{ profile.public_gists}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true">Repositories: {{ profile.public_repos }}</a>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <form>
                           
                          <input type="text" name="search" class="search-box form-control" placeholder="Search    GitHub User..."
                          [(ngModel)]="username" name="username" (keypress)="getUserProfile()">
                        </form>
                    </div>
                </li>
              </ul>
        </div>
        <div class="heading text-center">
            <h4><b>Repositories</b></h4>
        </div>
        <div *ngFor="let repo of repos">
            <div class="row flex-row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <h5 class="card-title">{{repo.name}}</h5>
                        <div class="card-body">
                            <p class="card-text">{{repo.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{repo.html_url}}" class="btn btn-primary" target="_blank">View the Repo on GitHub</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>




